body {background-color:whitesmoke;
     font-family:sans-serif, Arial, Helvetica;
     line-height:1.3em;
     padding-top: 1em;
     padding-left: 8em;
     max-width: 800px;
     margin: auto;
     margin-bottom: 20px;}

h1 {text-align: center;
   font-family: cursive;
   font-size:80px;
   color:rgb(146, 233, 158);
   margin-bottom:70px;}

   img { display:block;
       margin: auto;
       margin-bottom: 30px;
       border-radius: 15px;}

.description {text-align: center;
             color:rgb(146, 233, 158);
            font-size:40px;
            margin: 30px;
            margin-top: 50px;}

.ingredients {color:rgb(146, 233, 158);
              font-size:25px;
              margin-top:30px;
              margin-bottom: 30px;}

.instructions {color:rgb(146, 233, 158);
               font-size:23px;
               margin: auto;}

.method {color:#4d2a2a;
        font-size:21px;
        margin: auto;}

.enjoy {color: rgb(146, 233, 158);
       font-size: 27px;
       margin:auto;}

p {line-height:1.3em;
   color:rgb(51, 49, 49);
   font-size:24px;
   margin-bottom: 30px;}

ul {list-style-type:circle;
    line-height:1.3em;
   font-size:20px;
   padding-left: 20px;
   padding-right: 20px;}

ol {font-size:20px;
    line-height:1.3em;
    padding-left: 20px;
    padding-right: 20px;}

li {margin-bottom: 10px;}

a { color :#008080;
  margin-bottom: 100px;
  font-weight: bold;
  font-size:1.5em;
  text-decoration: none;}

a:hover {color: #d2691e;
        text-decoration: underline;}